<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Product</title>
</head>
<body>
  <h1>Add a product</h1>
  <form action="/products" method="POST">
    <label for="name">Product Name:</label>
    <input type="text" name="name" id="name" placeholder="Product Name">
    <label for="price">Unit Price:</label>
    <input type="number" step="0.01" name="price" id="price" placeholder="Price">
    <label for="category">Select Category: </label>
    <select name="category" id="category">
      <% for (let c of categories) { %>
        <option value="<%=c %>"><%= c %></option>
      <%}  %>
    </select>
    <button>Submit</button>
  </form>
</body>
</html>